<h2>Listing products</h2>

<ul class="products">
  <%= for product <- @products do %>
    <li>
      <h3><%= link product.name, to: product_path(@conn, :show, product.id) %></h3>
      <h4>$<%= product.price %></h4>
      <img src="<%= PhoenixCommerce.Image.url({product.image, product}, :thumb) %>" />
      <p><%= product.description %></p>
    </li>
  <% end %>
</ul>
